<a href="https://colab.research.google.com/github/ryhem1/checkpoint/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=int(input("donner un entier"))
y=int(input("donner un entier"))
z=int(input("donner un entier"))
num=[x,y,z]
print("result=",num[0]*num[1]*num[2])

In [ ]:
def last(n): return n[-1]

def sort_list_last(tuples):
  return sorted(tuples, key=last)

print(sort_list_last([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]))

In [ ]:

d1 = {"a": 100, "b": 200, "c":300}
d2 = {"a": 300, "b": 200, "d":400}
for key in d1:
  if key in d2:
    d2[key]=d1[key]+d2[key]
  else:
    d2[key]=d1[key]
print (d2)

In [ ]:
n=int(input("donner un entier n= "))
dic={i:i*i for i in range(1,n+1)}
print(dic)

In [19]:
list= [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')]
print(sorted(list, key=lambda x: float(x[1]), reverse=True))

[('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20')]